# Assignment 5, Question 4: Data Exploration

**Points: 15**

In this notebook, you'll explore the clinical trial dataset using pandas selection and filtering techniques.

You'll use utility functions from `q3_data_utils` where helpful, but also demonstrate direct pandas operations.

## Setup

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import utilities from Q3
from q3_data_utils import load_data, detect_missing, filter_data

# Load the data with a safe fallback in case load_data returns None or fails
try:
    df = load_data("data/clinical_trial_raw.csv")
except Exception:
    df = None

# If the utility returned None (or failed), fall back to pandas.read_csv
if df is None:
    df = pd.read_csv("data/clinical_trial_raw.csv")

print(f"Loaded {len(df)} patients with {len(df.columns)} variables")


# Prewritten visualization functions for exploration
def plot_value_counts(series, title, figsize=(10, 6)):
    """
    Create a bar chart of value counts.

    Args:
        series: pandas Series with value counts
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.plot(kind="bar")
    plt.title(title)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()


def plot_crosstab(crosstab_data, title, figsize=(10, 6)):
    """
    Create a heatmap of crosstab data.

    Args:
        crosstab_data: pandas DataFrame from pd.crosstab()
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    plt.imshow(crosstab_data.values, cmap="Blues", aspect="auto")
    plt.colorbar()
    plt.title(title)
    plt.xticks(range(len(crosstab_data.columns)), crosstab_data.columns, rotation=45)
    plt.yticks(range(len(crosstab_data.index)), crosstab_data.index)
    plt.tight_layout()
    plt.show()

Loaded 10000 patients with 18 variables

## Part 1: Basic Exploration (3 points)

Display:
1. Dataset shape
2. Column names and types
3. First 10 rows
4. Summary statistics (.describe())

In [19]:
# TODO: Display dataset info
print("Dataset Shape:")
display(df.shape)

print("Dataset Info:")
df.info()

print("First 10 Rows:")
display(df.head(10))

print("Summary Statistics:")
display(df.describe())

Dataset Shape:

(10000, 18)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          10000 non-null  object
 1   age                 10000 non-null  int64
 2   sex                 10000 non-null  object
 3   bmi                 9562 non-null   float64
 4   enrollment_date     10000 non-null  object
 5   systolic_bp         9586 non-null   float64
 6   diastolic_bp        9586 non-null   float64
 7   cholesterol_total   9446 non-null   float64
 8   cholesterol_hdl     9446 non-null   float64
 9   cholesterol_ldl     9446 non-null   float64
 10  glucose_fasting     9631 non-null   float64
 11  site                10000 non-null  object
 12  intervention_group  10000 non-null  object
 13  follow_up_months    10000 non-null  int64
 14  adverse_events      10000 non-null  int64
 15  outcome_cvd         10000 non-null  object
 16  adherence_pct       8533 non-null   float64
 17  dropout             10000 non-null  object
dtypes: float64(8), int64(3), object(7)
memory usage: 1.4+ MB
First 10 Rows:

,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout
0,P00001,80,F,29.3,2022-05-01,123.0,80.0,120.0,55.0,41.0,118.0,site b,Control,20,0,No,24.0,No
1,P00002,80,Female,NaN,2022-01-06,139.0,81.0,206.0,58.0,107.0,79.0,Site A,CONTROL,24,0,No,77.0,No
2,P00003,82,Female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,82.0,77.0,SITE C,treatment b,2,0,Yes,70.0,No
3,P00004,95,Female,25.4,2022-08-15,116.0,77.0,200.0,56.0,104.0,115.0,Site D,treatment b,17,0,No,62.0,No
4,P00005,95,M,NaN,2023-04-17,97.0,71.0,185.0,78.0,75.0,113.0,site e,Treatmen A,9,0,yes,NaN,Yes
5,P00006,78,F,26.8,2023-08-29,116.0,66.0,164.0,54.0,99.0,99.0,Site A,TreatmentA,4,0,yes,NaN,Yes
6,P00007,84,F,25.4,2022-05-12,133.0,100.0,215.0,62.0,113.0,70.0,site a,treatment a,20,1,No,76.0,No
7,P00008,70,Male,24.7,2022-06-04,111.0,72.0,174.0,60.0,94.0,109.0,SITE B,TREATMENT A,19,0,No,53.0,No
8,P00009,92,Female,26.9,2022-04-06,NaN,NaN,189.0,62.0,89.0,103.0,site a,Control,21,0,yes,53.0,No
9,P00010,75,Male,21.1,2023-12-14,128.0,76.0,218.0,77.0,97.0,96.0,SITE A,Treatment B,1,0,No,50.0,No

Summary Statistics:

,age,bmi,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,follow_up_months,adverse_events,adherence_pct
count,10000.000000,9562.000000,9586.000000,9586.000000,9446.000000,9446.000000,9446.000000,9631.000000,10000.00000,10000.000000,8533.000000
mean,59.182700,25.730558,117.531087,73.550908,178.039488,61.369786,85.698603,96.424255,12.25460,0.145500,60.615610
std,151.769963,5.339547,13.973973,10.167464,33.129034,11.062101,28.686463,17.112961,7.07675,0.393631,18.974399
min,-999.000000,-1.000000,75.000000,60.000000,91.000000,25.000000,40.000000,51.000000,0.00000,0.000000,20.000000
25%,70.000000,23.500000,108.000000,65.000000,155.000000,54.000000,65.000000,84.000000,6.00000,0.000000,47.000000
50%,80.000000,26.000000,117.000000,73.000000,177.000000,61.000000,84.000000,96.000000,12.00000,0.000000,62.000000
75%,92.000000,28.775000,127.000000,81.000000,200.000000,69.000000,105.000000,108.000000,19.00000,0.000000,75.000000
max,100.000000,42.800000,173.000000,118.000000,315.000000,98.000000,226.000000,163.000000,24.00000,4.000000,100.000000

## Part 2: Column Selection (3 points)

Demonstrate different selection methods:

1. Select only numeric columns using `.select_dtypes()`
2. Select specific columns by name
3. Select a subset of rows and columns using `.loc[]`

In [20]:
# TODO: Select numeric columns
print("Select Numeric Columns:")
df.select_dtypes(include=[np.number])

Select Numeric Columns:

,age,bmi,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,follow_up_months,adverse_events,adherence_pct
0,80,29.3,123.0,80.0,120.0,55.0,41.0,118.0,20,0,24.0
1,80,NaN,139.0,81.0,206.0,58.0,107.0,79.0,24,0,77.0
2,82,-1.0,123.0,86.0,172.0,56.0,82.0,77.0,2,0,70.0
3,95,25.4,116.0,77.0,200.0,56.0,104.0,115.0,17,0,62.0
4,95,NaN,97.0,71.0,185.0,78.0,75.0,113.0,9,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9995,72,23.2,122.0,73.0,182.0,54.0,92.0,97.0,21,0,20.0
9996,100,28.9,124.0,78.0,157.0,56.0,70.0,102.0,11,0,57.0
9997,78,23.8,110.0,63.0,154.0,69.0,71.0,114.0,2,1,77.0
9998,86,27.0,139.0,98.0,196.0,38.0,119.0,126.0,16,0,63.0
9999,67,29.4,134.0,83.0,197.0,51.0,117.0,128.0,22,0,48.0

In [21]:
# TODO: Select specific columns
print("Select Specific Columns:")
df[["age", "bmi", "systolic_bp"]]

Select Specific Columns:

      age   bmi  systolic_bp
0      80  29.3        123.0
1      80   NaN        139.0
2      82  -1.0        123.0
3      95  25.4        116.0
4      95   NaN         97.0
...   ...   ...          ...
9995   72  23.2        122.0
9996  100  28.9        124.0
9997   78  23.8        110.0
9998   86  27.0        139.0
9999   67  29.4        134.0

[10000 rows x 3 columns]

In [22]:
# TODO: Use .loc[] to select subset
print("Select Subset:")
df.loc[0:10, "age":"systolic_bp"]

Select Subset:

    age         sex   bmi enrollment_date  systolic_bp
0    80           F  29.3      2022-05-01        123.0
1    80    Female     NaN      2022-01-06        139.0
2    82      Female  -1.0      2023-11-04        123.0
3    95      Female  25.4      2022-08-15        116.0
4    95           M   NaN      2023-04-17         97.0
5    78           F  26.8      2023-08-29        116.0
6    84           F  25.4      2022-05-12        133.0
7    70        Male  24.7      2022-06-04        111.0
8    92      Female  26.9      2022-04-06          NaN
9    75        Male  21.1      2023-12-14        128.0
10   79      Female  23.5      2023-06-12        110.0

## Part 3: Filtering (4 points)

Filter the data to answer these questions:

1. How many patients are over 65 years old?
2. How many patients have systolic BP > 140?
3. Find patients who are both over 65 AND have systolic BP > 140
4. Find patients from Site A or Site B using `.isin()`

In [23]:
# TODO: Filter and count patients over 65
# 1. Use the filter_data utility from Q3
# 2. Create a filter for age > 65
# 3. Apply the filter and count the results
# print(f"Patients over 65: {len(patients_over_65)}")
age_filter = {"column": "age", "condition": "greater_than", "value": 65}

patients_over_65 = filter_data(df=df, filters=[age_filter])
print(f"Patients Over 65: {len(patients_over_65)}")

Patients Over 65: 8326

In [24]:
# TODO: Filter for high BP
# 1. Use the filter_data utility from Q3
# 2. Create a filter for systolic_bp > 140
# 3. Apply the filter and count the results
# print(f"Patients with high BP: {len(high_bp)}")
systolic_bp_filter = {
    "column": "systolic_bp",
    "condition": "greater_than",
    "value": 140,
}

high_bp = filter_data(df=df, filters=[systolic_bp_filter])
print(f"Patients With High BP: {len(high_bp)}")

Patients With High BP: 538

In [25]:
# TODO: Multiple conditions with &
# 1. Use filter_data for multiple conditions:
# 2. Create filters for both conditions:
#     {'column': 'age', 'condition': 'greater_than', 'value': 65},
#     {'column': 'systolic_bp', 'condition': 'greater_than', 'value': 140}
# ]
# 3. Apply the filter and count the results
# print(f"Patients over 65 AND high BP: {len(both_conditions)}")
#
# 5. Alternative: Use in_range for age range:
# 5. Create filter for age range 65-100
# 6. Apply the filter and count the results
both_conditions = filter_data(df=df, filters=[age_filter, systolic_bp_filter])
print(f"Patients Over 65 AND High BP: {len(both_conditions)}")

Patients Over 65 AND High BP: 464

In [26]:
# TODO: Filter by site using .isin()
# 1. Use the filter_data utility from Q3
# 2. Create a filter for Site A or Site B
# 3. Apply the filter and count the results
# print(f"Patients from Site A or B: {len(site_ab)}")
df["site"] = (
    df["site"]  # Clean 'site' column
    .str.strip()
    .str.replace("_", " ")
    .str.replace(r"\s+", " ", regex=True)
    .str.lower()
)

site_filter = {"column": "site", "condition": "in_list", "value": ["site a", "site b"]}

site_ab = filter_data(df=df, filters=[site_filter])
print(f"Patients from Site A or B: {len(site_ab)}")

Patients from Site A or B: 5409

## Part 4: Value Counts and Grouping (5 points)

1. Get value counts for the 'site' column
2. Get value counts for the 'intervention_group' column  
3. Create a crosstab of site vs intervention_group
4. Calculate mean age by site
5. Save the site value counts to `output/q4_site_counts.csv`

In [29]:
# TODO: Value counts and analysis

# Clean intervention_group column
df["intervention_group"] = (
    df["intervention_group"]
    .astype(str)
    .str.strip()
    .str.replace("_", " ")
    .str.replace(r"\s+", " ", regex=True)
    .str.lower()
    .str.replace("contrl", "control")
    .str.replace("treatmen a", "treatment a")
    .str.replace("treatmenta", "treatment a")
)

site_counts = df["site"].value_counts()
print("Value Counts For Site:")
display(site_counts)

intervention_counts = df["intervention_group"].value_counts()
print("\nValue Counts For Intervention Group:")
display(intervention_counts)

site_intervention_crosstab = pd.crosstab(df["site"], df["intervention_group"])
print("\nSite vs Intervention Group Crosstab:")
display(site_intervention_crosstab)

mean_age_by_site = df.groupby("site")["age"].mean()
print("\nMean Age By Site:")
display(mean_age_by_site)

Value Counts For Site:

site
site a    2956
site b    2453
site c    2073
site d    1501
site e    1017
Name: count, dtype: int64

Value Counts For Intervention Group:

intervention_group
treatment b    3342
control        3337
treatment a    3321
Name: count, dtype: int64

Site vs Intervention Group Crosstab:

intervention_group  control  treatment a  treatment b
site
site a                 1023          964          969
site b                  780          834          839
site c                  709          670          694
site d                  490          522          489
site e                  335          331          351

Mean Age By Site:

site
site a    56.364005
site b    62.401957
site c    57.312108
site d    63.491006
site e    57.064897
Name: age, dtype: float64

In [30]:
# TODO: Save output
site_counts.to_csv("output/q4_site_counts.csv")

## Summary

Write 2-3 sentences about what you learned from exploring this dataset.

I learned that having the utility functions written in Q3 really supported my data exploration. Using both a Python file and a Jupyter notebook made it much easier to organize my code and interpret analysis outputs without creating a cluttered workspace. While exploring, I also discovered that the 'site' and 'intervention_group' columns contained inconsistent text formatting that required extra cleaning to produce accurate counts; something I wouldnt have noticed without examining the data closely in this step!